<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zegois.demo">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="35" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:theme="@android:style/Theme.Material.Light"
        android:label="Zegois Rust Demo"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".CameraActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".MediaActivity" />
        <activity android:name=".NativeCameraActivity" />

    </application>

</manifest>
